.squareA {
    border-bottom: 1px solid #0B156F;
    border-top: 1px solid #0B156F;
    border-right: 1px solid #0B156F;
    border-left: 1px solid #0B156F;
    border-style: bisque;
    border-radius: 20px;
    height: 180px;
    width: 180px;
    box-shadow: 1px 3px 1px #444;
    background-color: #0B156F;
    color: #fff;
}

.squareB {
    border-bottom: 1px solid #444;
    border-top: 1px solid #444;
    border-right: 1px solid #444;
    border-left: 1px solid #444;
    border-style: bisque;
    border-radius: 20px;
    height: 180px;
    width: 180px;
    margin-left: 50px;
    box-shadow: 1px 3px 1px #444;
    background-color: #0B156F;
    color: #fff;
}

.squareC {
    border-bottom: 1px solid #444;
    border-top: 1px solid #444;
    border-right: 1px solid #444;
    border-left: 1px solid #444;
    border-style: bisque;
    border-radius: 20px;
    height: 180px;
    width: 180px;
    margin-left: 50px;
    box-shadow: 1px 3px 1px #444;
    background-color: #0B156F;
    color: #fff;
}

.guests {
    text-align: center;
    font-size: 800;
    margin-top: 10px;
}

.number {
    font-size: 600;
    text-align: center;
    margin-top: 40px;
}